*{
    box-sizing: border-box;
}
.mesa{
    width: 55%;
    height: 60%;
    background-color: blue;
    border-radius: 25px;
    padding: 2%;
}
.principal{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta{
    width: 15%;
    height: 22%;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 5px;
    float: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Desde acá empieza lo nuevo.*/
    cursor: pointer;
    transition: 0.5s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.tarjeta_contenido{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 10px;
}
.tarjeta.descubierta {
    transform: rotateY(-180deg);
}
/*Hasta acá finalizamos lo nuevo.*/